body {
    background-image: url('./img/husk.png');
}

.header {
    background: #2343c3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main {
    padding: 3rem 2rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: -10;
    position: relative;
}

.header .container {
  background-image: url('./img/logo.png');
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.doctor-box {
    margin: 10px 0;
    border: 1px solid black;
}

.doctor-box:nth-of-type(odd) {
    border-right-color: transparent;
}

.gender,
.category {
    text-transform: capitalize;
}

.btn-info {
  margin-bottom:1rem;
  font-size: 10px;
}

.bold {
    font-weight: 700;
}

.languages,
.licenses{
    padding: 5px;
    background: lightgrey;
}

.showErrors {
  display: none;
}
