body {
    background-image: url('./img/husk.png');
    font-family: 'Poppins', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.header {
    background: #2343c3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main {
    padding: 3rem 2rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.header .container {
  background-image: url('./img/logo.png');
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.doctor-box {
    margin: 10px 0;
    border: 1px solid black;
    padding: 15px;
}

.doctor-box:nth-of-type(odd) {
    border-right-color: transparent;
}

.gender,
.category {
    text-transform: capitalize;
}

.btn-info {
  margin-bottom:1rem;
  font-size: 10px;
}
.name {
    margin-top: 15px;
}

#results {
    margin-top: 2rem;
}

.bold {
    font-weight: 700;
}

.languages,
.licenses {
    padding: 7px;
    background: #ececec;
    margin-bottom: 14px;
}

.showErrors {
  display: none;
}
