body {
    background-image: url('./img/husk.png');
    font-family: 'Poppins', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.header {
    background: #2343c3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main {
    padding: 3rem 2rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.header .container {
  background-image: url('./img/logo.png');
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.doctor-box {
    margin: 7px 10px 10px 0px;
    border: 1px solid #c7c7c7;
    padding: 15px;
    background-color: white;
}

#symptoms-form .bold {
  color: #ffb350;
}

.doctor-box img{
    border-radius: 8px;
}

.doctor-box:nth-of-type(4n) {
    margin-right:0px;
}

.doctor-box:nth-of-type(4n + 1) {
    margin-left:7px;
}


.gender,
.category {
    text-transform: capitalize;
}

.btn-info {
  margin-bottom:1rem;
  font-size: 10px;
}
.name {
    margin-top: 15px;
}

select {
    width: 100%;
}

#linkedin {
    background-image: url('./img/linkedin-logo.png');
    width: 30px;
    height: 30px;
    margin: 5px 15px;
    position: absolute;
    background-size: contain;
}

#github {
    background-image: url('./img/github-logo.png');
    width: 30px;
    height: 30px;
    margin: 5px 15px;
    position: absolute;
    background-size: contain;
}

#github:hover,
#linkedin:hover {
  background-color: white;
  border-radius: 15px;
}

.footer {
    background: black;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
}

.footer p{
    line-height: 43px;
    margin-bottom: 0;
}

.footer a{
    color:#ffb350;
}

.footer a:hover{
    color:white;
    text-decoration: none;
}

#results {
    margin-top: 2rem;
    background-image: url('./img/husk.png');
}

.bold {
    font-weight: 700;
}

.languages,
.licenses {
    padding: 7px;
    background: #ececec;
    margin-bottom: 14px;
}

.showErrors {
  display: none;
}

@media (min-width: 768px){
.col-md-3 {
    max-width: 24%;
}
}
